:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primry-font-weight: 700;
  --secondary-font-weight: 400;
  --primary-font-size: 14px;
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --other-color: #ffffff;
  --logo-color: #000000;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --primary-icon-color: #afb1b8;
  --transition-time-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ========================= */
body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--primary-font-size);
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--other-color);
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* =================HEADER============== */

.page-header {
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-conteiner {
  display: flex;
}

.page-navigation {
  display: flex;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--logo-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo__element {
  color: var(--accent-color);
}

.menu-list {
  display: flex;
  column-gap: 50px;
  align-items: center;
  padding-left: 0;
}

.menu-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;

  transition: color var(--transition-time-cubic);
}

.menu-list__link.current {
  color: var(--accent-color);
}

.current::after {
  display: inline-block;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.menu-list__link:hover,
.menu-list__link:focus {
  color: var(--accent-color);
}

.contacts-list {
  margin-left: auto;
  display: flex;
  column-gap: 50px;
  padding-left: 0;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}

.contacts-list .header-contacts-email,
.header-contacts-number {
  color: var(--secondary-color);
  font-weight: 500;

  transition: color var(--transition-time-cubic);
}

.header-contacts-email,
.header-contacts-number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts-email:hover,
.header-contacts-email:focus {
  color: var(--accent-color);
}

.header-contacts-number:hover,
.header-contacts-number:focus {
  color: var(--accent-color);
}

.contacts-icon-email,
.contacts-icon-tell {
  margin-right: 10px;
  fill: var(--secondary-color);
}

.contacts-list__icon--email {
  width: 16px;
  height: 12px;
}

.contacts-list__icon--tel {
  width: 10px;
  height: 16px;
}

.header-contacts-email:hover .contacts-icon-email,
.header-contacts-email:focus .contacts-icon-email {
  fill: var(--accent-color);
}

.header-contacts-number:hover .contacts-icon-tell,
.header-contacts-number:focus .contacts-icon-tell {
  fill: var(--accent-color);
}

/* ==============HEADER============= */

/* =============MAIN================ */
/* ==============BANER=============== */
.baner {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--primary-background-color);
  color: var(--other-color);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/baner-img.jpg');
  background-position: center;
  background-size: cover;
}

.page-baner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-baner__title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  align-items: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.baner-modal-button {
  padding: 10px 32px;
  font-family: var(--main-font);
  background-color: var(--accent-color);
  color: var(--other-color);
  cursor: pointer;
  font-weight: var(--primry-font-weight);
  font-size: 16px;
  line-height: 1.875em;
  border: 0;
  border-radius: 4px;
  letter-spacing: 0.06em;

  transition: color var(--transition-time-cubic), background-color var(--transition-time-cubic);
}

.baner-modal-button:hover,
.baner-modal-button:focus {
  background-color: #188ce8;
  color: var(--other-color);
}
/* ===========BANER============= */

/* ===========BENEFITS============= */

.benefits__title {
  font-style: normal;
  font-weight: var(--primry-font-weight);
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
}

.benefits-list {
  display: flex;
  font-weight: var(--primry-font-weight);
  line-height: 1.14em;
  column-gap: 30px;
}

.benefits-list__item {
  width: 270px;
}

.benefits-list__icon--svg {
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.benefits-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background-color);
}

.benefits-list__subtitle {
  margin-bottom: 10px;
  font-weight: var(--primry-font-weight);
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
}

.benefits-list__text {
  color: var(--secondary-color);
  font-weight: var(--secondary-font-weight);
  line-height: 1.7em;
}

/* ==========BENEFITS============== */

/* ===========ABOUT================ */

.about-us {
  padding-top: 0;
}

.about-us__title {
  margin-bottom: 50px;
  font-weight: var(--primry-font-weight);
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
}

.about-list {
  column-gap: 30px;
  display: flex;
  justify-content: center;
}

.about-list__item {
  position: relative;
}

.img-overlay__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--other-color);
  font-weight: var(--primry-font-weight);
  font-size: var(--primary-font-size);
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* ============ABOUT============= */

/* ============OUR TEAM============ */

.our-team {
  background-color: var(--secondary-background-color);
}

.our-team__title {
  margin-bottom: 50px;
  font-weight: var(--primry-font-weight);
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
}

.workers-list {
  column-gap: 30px;
  display: flex;
}

.workers-list__item {
  background-color: var(--other-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.workers-details {
  margin-top: 30px;
  margin-bottom: 16px;
}

.workers-details__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.workers-details__position {
  color: var(--secondary-color);
  font-weight: var(--secondary-font-weight);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  column-gap: 10px;
}

.links-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-time-cubic);
}

.links-list__icon {
  fill: var(--primary-icon-color);
  width: 20px;
  height: 20px;

  transition: fill var(--transition-time-cubic);
}

.links-list__link:hover,
.links-list__link:focus {
  background-color: var(--accent-color);
}

.links-list__link:hover .links-list__icon,
.links-list__link:focus .links-list__icon {
  fill: var(--other-color);
}

/* ============OUR TEAM============== */

/* =============REGULAR============== */

.regular-customers .customers-caption {
  font-family: var(--main-font-family);
  font-weight: var(--primry-font-weight);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.castomers-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;

  transition: border-color var(--transition-time-cubic);
}

.icon-logo {
  width: 106px;
  height: 60px;
  fill: var(--primary-icon-color);

  transition: fill var(--transition-time-cubic);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
}

.customers-link:hover .icon-logo,
.customers-link:focus .icon-logo {
  fill: var(--accent-color);
}

/* =============REGULAR============== */

/* =============FOOTER================ */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
  flex-direction: column;
  justify-content: flex-start;
}

.footer-content {
  margin-right: auto;
  display: flex;
  align-items: baseline;
}

.footer-content-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.footer-content-link {
  margin-left: 70px;
}

.logo-footer {
  margin-bottom: 20px;
  justify-content: flex-start;
  color: var(--other-color);
  font-family: var(--secondary-font-family);
  font-weight: var(--primry-font-weight);
  font-size: 26px;
  line-height: 1.19;
}

.address {
  justify-content: flex-start;
}

.address-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-style: normal;
  font-weight: var(--secondary-font-weight);
  line-height: 1.7;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-map {
  color: var(--other-color);
  font-weight: var(--secondary-font-weight);
  line-height: 1.7;
}

.footer-contacts-email,
.footer-contacts-number {
  color: rgba(255, 255, 255, 0.6);
  font-weight: var(--secondary-font-weight);
  line-height: 1.7;

  transition: color var(--transition-time-cubic);
}

.footer-contacts-email:hover,
.footer-contacts-email:focus {
  color: var(--accent-color);
}

.footer-contacts-number:hover,
.footer-contacts-number:focus {
  color: var(--accent-color);
}

.sdudio-social-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.studio-link-list {
  margin-top: 20px;
  column-gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.studio-caption {
  font-weight: var(--primry-font-weight);
  color: var(--other-color);
  font-style: normal;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.studio-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-time-cubic);
}

.studio-link:hover,
.studio-link:focus {
  background-color: var(--accent-color);
}

.icon-studio-link {
  width: 20px;
  height: 20px;
  fill: var(--other-color);
}

.subscribe {
  /* display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0; */
  margin-left: auto;
}

.subscribe-title {
  margin-bottom: 20px;
  display: block;

  font-weight: var(--primry-font-weight);
  font-size: var(--primary-font-size);
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--other-color);
}

.subscribe-tap {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.subscribe-input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-right: 12px;

  color: var(--other-color);
  background-color: var(--primary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;

  color: var(--other-color);
  font-family: var(--main-font-family);
  font-weight: var(--primry-font-weight);
  font-size: 16px;
  line-height: 1.875;
}

.send-icon {
  margin-left: 10px;
  fill: var(--other-color);
}

/* ===========FOOTER=========== */

/* ============PORFOLIO========
===============SERVICES======== */

.services {
  padding-top: 0;
}

.button-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  column-gap: 8px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.services-nav-button {
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;

  transition: background-color var(--transition-time-cubic), color var(--transition-time-cubic),
    box-shadow var(--transition-time-cubic);
}

.services-nav-button:hover,
.services-nav-button:focus {
  background-color: var(--accent-color);
  color: var(--other-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  gap: 30px;
}

.services-item-link {
  display: block;
  transition: box-shadow var(--transition-time-cubic);
}

.services-item-link:hover,
.services-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.desc {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  justify-content: flex-start;
  align-items: center;
}

.services-title {
  margin-bottom: 4px;
  color: var(--main-color);
  font-weight: var(--primry-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.services-sectoin {
  color: var(--secondary-color);
  font-weight: var(--secondary-font-weight);
  font-size: 16px;
  line-height: 1.875;
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-text {
  position: absolute;
  transform: translateY(100%);
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--other-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--transition-time-cubic);
}

.services-item-link:hover .card-text {
  transform: translateY(0%);
}

/* ==========SERVICES========== */

/* ===========MODAL=========== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 666;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 500ms cubic-bezier(0.03, 0.99, 0.87, 0.75),
    visibility 500ms cubic-bezier(0.03, 0.99, 0.87, 0.75);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: var(--other-color);
}

.modal-close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: fill var(--transition-time-cubic);
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-content {
  padding: 40px;
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: var(--primry-font-weight);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-form-label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.modal-form-label-text {
  margin-bottom: 4px;
  font-weight: var(--secondary-font-weight);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal-form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--transition-time-cubic);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-input-box {
  position: relative;
}

.modal-form-icon-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;

  transition: fill var(--transition-time-cubic);
}

.modal-user-textarea {
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--transition-time-cubic);
}

.modal-user-textarea:focus {
  border-color: var(--accent-color);
}

.modal-button-send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--other-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: var(--main-font-family);
  font-weight: var(--primry-font-weight);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background var(--transition-time-cubic);
}

.modal-button-send:hover,
.modal-button-send:focus {
  background: #188ce8;
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-font-size);
  line-height: 1.71;
  color: var(--secondary-color);
}

.modal-form-checkbox-icon {
  width: 16px;
  height: 15px;
  fill: #fff;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 8px;
}

.modal-form-checkbox-input {
  appearance: none;
}

.modal-form-checkbox-input:checked + .modal-form-checkbox-icon {
  fill: var(--accent-color);
  border: none;
}

.checkbox-policy {
  color: var(--accent-color);
}
